.DS_Store
/pages/localStorage.json
/components/api-speech/localStorage.json
*.bak
*.old
*.tmp
*~
api/elevenlabs-api/elevenlabs_config.php
/auth/config.php
/api/session-api/supabase_config.php
/vendor
/tabler
/.pnpm-home
/sounds
/resources
/temp
/data/site-usage
